src/main/mule/mule-logger-hello.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>

    <flow name="hello-logger-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/sayhello" doc:name="Trigger" allowedMethods="POST"/>
        <logger level="INFO" doc:name="My Logger"
                message='#[{"message": "Hello from Mule!", "timestamp": now() as String {format: "yyyy-MM-dd HH:mm:ss"}}]' />
        <set-payload value='#[output application/json --- {status: "success", greetedAt: now()}]' doc:name="Response"/>
    </flow>

</mule>